{{"{"}}# coding: utf8 #{{"}"}}
{{"{"}}% extends "base.html" %{{"}"}}

{{"{"}}{{"{"}} block content {{"}"}}{{"}"}}
<a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:create %{{"}"}}" class="model-new {{modelname}}-new">New {{modelname}}</a> 
{{"{"}}% if object_list %{{"}"}}
    <table class="table table-bordered table-stripped">
    <thead  >
        <tr class=" ">
            <th >{{modelname}} </th> 
            <th > Actions</th> </tr>
    </thead>
    <tbody class="">
    {{"{"}}% for obj in object_list %{{"}"}}
        <tr >
            <td >{{"{"}}{{"{"}}obj{{"}"}}{{"}"}}</td>
            <td >
                <a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:update obj.pk %{{"}"}}" class="btn">edit</a>
                <a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:delete obj.pk %{{"}"}}" class="btn">delete</a>
            </td>
        </tr>
    {{"{"}}% endfor %{{"}"}}
    </tbody>
    </table>
    {{"{"}}% if is_paginated %{{"}"}}
        <div class="pagination">
             <span class="page-current">
                    Page {{"{"}}{{"{"}} page_obj.number {{"}"}}{{"}"}} of {{"{"}}{{"{"}} page_obj.paginator.num_pages {{"}"}}{{"}"}}.
                </span>
            <ul>
                {{"{"}}% if page_obj.has_previous %{{"}"}}
                <li>
                    <a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:list page_obj.previous_page_number %{{"}"}}" >Previous</a>
                </li>
                    
                {{"{"}}% endif %{{"}"}}
               
                {{"{"}}% if page_obj.has_next %{{"}"}}
                <li>
                     <a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:list page_obj.next_page_number %{{"}"}}"  >Next</a>
                </li>
                   
                {{"{"}}% endif %{{"}"}}
            </ul>
        </div>
    {{"{"}}% endif %{{"}"}}
{{"{"}}% else %{{"}"}}
    <p id="{{modelname|lower}}_list_not_found_msg"  > No {{modelname|lower}}s found. </p>
{{"{"}}% endif %{{"}"}}

{{"{"}}{{"{"}} endblock content {{"}"}}{{"}"}}