{{"{"}}# coding: utf8 #{{"}"}}
{{"{"}}% extends "base.html" %{{"}"}}

{{"{"}}{{"{"}} block content {{"}"}}{{"}"}}
{{"{"}}% load bootstrap_toolkit %{{"}"}}
{{"{"}}% if object %{{"}"}}
<div id="{{modelname}}_form_header" class="object-form-header {{modelname}}-form-header">
Editing {{"{"}}{{"{"}}object{{"}"}}{{"}"}}
</div>
{{"{"}}% else %{{"}"}}
Create new {{modelname}}
{{"{"}}% endif %{{"}"}}
<form action="." method="post" name="{{modelname}}_form" class="">
    {{"{"}}% csrf_token %{{"}"}}
    
            {{"{"}}{{"{"}}form.as_bootstrap{{"}"}}{{"}"}}
            
            <div class="actions">
        <button type="submit" class="btn primary">Submit</button>
        <a href="{{"{"}}% url {{appname|lower}}:{{modelname|lower}}:list 1  %{{"}"}}" class="btn">Cancel </a>
    </div>
      
</form>
{{"{"}}{{"{"}} endblock content {{"}"}}{{"}"}}